.left-menu{
	width:200px;
	overflow:hidden;
	background:#fff;
	float:left;
	margin-right:10px;
	padding:0 15px 30000px 15px;
	margin-bottom:-29990px;
}

.left-menu ul{
	padding:0;
	
}

.left-menu li{
	list-style-type:none;
}

.left-menu a:hover{
	color:#da3636;
}

.left-menu li ul{
	padding:15px;
	display: none;
	font-size:0.9em;
	
}

.left-menu li ul li{
	padding:5px 0;
}

.left-menu li ul li ul{
	padding:5px 15px;
}

.menu-head{
	text-align:center;
	font-size:2em;	
	margin:5px 0;
}

.menu-part{
	text-align:center;	
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size:1.5em;
	line-height:2em;
	margin:10px 0;
}


.left-menu a {
	display: block;
} 

